<!DOCTYPE html>
<html>
<head>
    <title>LearnFlow Batches</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    </head>
    <body class="container mt-5 text-center">
      <div class="col-md-15">
          <h3>Admin Verification</h3> <hr>
          <table  cellpadding="10" class="container mt-5 text-center">
            <tr><td>
<form method="POST">
    <input type="password" name="admin_password" placeholder="Enter Admin Secret" required>
    <button type="submit" class="btn btn-secondary">Verify</button>
</form>
</td></tr>
</table>
<button onclick="history.back()" class="back-btn">
    ⬅ Back
</button>
</div>
</body>
</html>

