<h3>Create Quiz</h3>

<form method="POST">
    Title: <input type="text" name="title" required><br><br>

    Subject: <input type="text" name="subject" required><br><br>

    Level:
    <select name="level">
        <option>Beginner</option>
        <option>Intermediate</option>
        <option>Advanced</option>
    </select><br><br>

    Type:
    <select name="type">
        <option value="regular">Regular Quiz</option>
        <option value="assessment">Assessment Quiz</option>
    </select><br><br>

    <button type="submit">Create Quiz</button>
</form>
<a href="admin_dashboard.html">⬅ Dashboard</a>
