<!DOCTYPE html>
<html>
<head>
    <title>Select subject</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>

<body class="container mt-5 text-center">
<h3>Select Course Subject</h3>

<form method="POST">
    <select name="subject" required>
        <option value="DBMS">DBMS</option>
        <option value="OS">Operating Systems</option>
        <option value="Algorithms">Algorithms</option>
    </select>
    <button type="submit" >Start Assessment</button>
</form>
</body>
</html>